@import "~react-image-gallery/styles/css/image-gallery.css";

body {
  background-color: white;
  color: black;
}

.App {
  text-align: center;
}

/* .palominoLogo {
  width: 100%;
  height: auto;
} */

/* .jimContactInfoContainer {
  float: left;
}

.jimContactInfoContainer:hover {
  box-shadow: #2b15453d 0 4px 8px 0;
}

.contactH4 {
  padding: 2px 16px;
}

.contactATag {
  box-shadow: #2b15453d 0 4px 8px 0;
  padding: 15px;
  background-color: purple;
  margin: 5px;
  color: white;
}

@media screen and (min-width:0px) and (max-width:640px) {

}*/

.navi div {
  background-color: white;
  height: 4px;
  margin: 5px 0;
  border-radius: 25px;
}

.navi {
  z-index: 1000;
  top: 1;
  left: 0;
  background-color: purple;
  padding: 5px;
  width: 30px;
  display: block;
  margin: 1em 0 0 1em;
  position: fixed;
}

.lineOne {
  width: 30px;
}

.lineTwo {
  width: 20px;
}

.lineThree {
  width: 25px;
}

.navi:hover div {
  width: 30px;
}

.dropdown {
  position: relative;
  float: left;
}

.dropdown-content {
  z-index: 1001;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 8%;
  left: 1%;
  background-color: #333;
  min-width: 160px;
}

.dropdown-content a {
  padding: 10px;
  color: white;
  text-decoration: none;
}

.finalCovenants, .byLaws, .platMap{
  padding: 50px;
}

.CommunityInfoWrapper a {
  border: 2px solid #ccc;
  padding: 6px;
  text-decoration: none;
}

.CommunityInfoWrapper a:hover {
  text-decoration: underline;
}

.directionsWrapper {
  display: inline-block;
  width: 70%;
  height: auto;
}

.mapDirectionsATag {
  text-decoration: none;
  color: #fff; 
  background: #00cc99;
  padding: 5px 16px;
  display: inline-block;
  border-radius: 3px;
  font-size: x-large;
}


.mapDirectionsATag:hover {
  background: #333;
}

.floorPlanWrapper {
  display: inline-block;
}

.card1 {
  width: 50%;
  height: 25%;
  border: #333;
  border-radius: 5px;
  border-style: groove;
} 

/* .image-gallery-image {
  max-height: 20%;
} */