body {
  background-color: var(--body_backround);
  color: var(--body_color);
  margin-top: 10px;
}

.App {
  text-align: center;
}

.carousel-wrapper {
  margin-top: 5rem;
  width: 100%;
  height: auto;
  margin: 0 auto;
  box-shadow: #2b15453d 1px 10px 10px 5px;
}

.palomino-Logo {
  width: 100%;
  height: auto;

}

.navLinks {
  outline: auto;
  font-size: x-large;
  padding: 5px;
  margin: 4px;
  background-color: var(--body_backround);
  color: var(--body_color);
  text-decoration: none;
  font-family: 'Times New Roman', Times, serif;
  float: left;
}

.model-1551{
  width: 45%;
  height: auto;
  float: left;
  padding-left: 15px;
}

.model-1558 {
  width: 45%;
  height: auto;
  float: right;
  padding-right: 15px;
}

.navLinksRight {
  background-color: var(--body_backround);
  color: var(--body_color);
  outline: auto;
  font-size: x-large;
  padding: 5px;
  margin: 4px;
  text-decoration: none;
  font-family: 'Times New Roman', Times, serif;
  float: right;
}

.mountains {
  width: 100%;
  height: auto;
  margin-top: 15px;
}

.floorPlan-wrapper {
  margin-top: 20px;
}