body {
  background-color: black;
  color: white;
  margin-top: 20px;
}

.App {
  text-align: center;
}

.carousel-wrapper {
  margin-top: 5rem;
  width: 60%;
  height: auto;
  margin: 0 auto;
  box-shadow: #2b15453d 1px 10px 10px 5px;
}

.mb-logo {
  width: 60%;
  height: auto;
  box-shadow: #2b15453d 1px 10px 10px 5px;

}

.navLinks {
  outline: auto;
  font-size: x-large;
  padding: 5px;
  margin: 4px;
  background: white;
  color: black;
  text-decoration: none;
  align-self: center;
  font-family: 'Times New Roman', Times, serif;
}

.model-1551{
  width: 45%;
  height: auto;
  float: left;
  padding-left: 15px;
}

.model-1558 {
  width: 45%;
  height: auto;
  float: right;
  padding-right: 15px;
}