.floorPlanWrapper {
    display: inline-flex;
  }
  
  .card1, .card2, .card3 {
    border: #333;
    border-radius: 5px;
    border-style: groove;
    margin: 10px;
    padding: 10px;
    height: 560px;
  } 

.card3 {
  margin-right: 6%;
}

  .cardTextDiv {
    border-bottom: solid;
    border-width: 3px;
    height: 18%;
  }