:root {
    --body_backround: white;
    --body_color: black;
}

[theme='dark'] {
    --body_backround: #121212;
    --body_color: white;
    --form_input_color: grey;
}

*:not(.inventory-hovered) {
    transition: all 0.3s ease-in-out;
}