@viewport {
    width: device-width ;
    zoom: 1.0 ;
}

:root {
    --body_backround: white;
    --body_color: black;
}

[theme='dark'] {
    --body_backround: #121212;
    --body_color: white;
    --form_input_color: grey;
}

*:not(.inventoryHovered) {
    transition: all 0.3s ease-in-out;
}